<article id="page-cards home" class="page-section">
    <section class="layout-cards container">
        <div class="row justify-content-center">
            <div class="col-10">
                {{#if content}}
                {{#each content}} {{#unless saved}}
                <div class="card-deck">
                    <section class="card my-3">
                        <div id="{{this._id}}" class="card-body">
                            <a href="{{this.link}}" target="_blank">{{this.title}}</a>
                            <button class="save_btn btn btn-outline-dark ml-3" data-id="{{this._id}}">Save Article</button>
                        </div>
                    </section>
                </div>
                {{/unless}}{{/each}}
                {{/if}}
            </div>
        </div>
    </section>
</article>

{{#unless content}}
<div class="row justify-content-center">
    <div class="container col-10 text-center">
        <h1>You need to find Articles!</h1>
    </div>
</div>
{{/unless}}